<mat-toolbar color="primary" role="navigation" aria-label="Main toolbar">
  <div class="toolbar-left">
    <img
      [src]="logoUrl"
      alt="Company logo"
      width="40"
      height="40"
      aria-hidden="true"
    />
    <span class="cert-text">Digital Marketing That Drives Revenue</span>
  </div>

  <div class="toolbar-center">
    <button mat-button [routerLink]="options[0].path" aria-label="Go to Home page">Home</button>
    <button mat-button [routerLink]="options[1].path" aria-label="Go to Analysis page">Analysis</button>
  </div>

  <div class="toolbar-right">
    <app-language-switcher/>
  </div>
</mat-toolbar>
